# {{ansible_managed}}

# IPv4 Hosts
127.0.0.1   localhost

# IPv6 Configuration
::1         ip6-localhost ip6-loopback
fe00::0     ip6-localnet
ff00::0     ip6-mcastprefix
ff02::1     ip6-allnodes
ff02::2     ip6-allrouters
