# /etc/ntp.conf, configuration for ntpd; see ntp.conf(5) for help
# {{ansible_managed}}

# remember the drift of the local oscillator
driftfile /var/lib/ntp/ntp.drift

# maintain synchronization within the environment
# even if UTC synchronization is lost
tos orphan 7

# synchronize to the environment master servers
{% for server in ntp_servers %}
server {{server}} iburst
{% endfor %}

# Access control configuration; see /usr/share/doc/ntp-doc/html/accopt.html for
# details. 

# pretend other nodes don't exist
restrict default ignore

# allow synchronization with the environment master servers
{% for server in ntp_servers %}
restrict {{server}} noquery nopeer
{% endfor %}

{% if ntp_monitor_servers is defined %}
# allow queries from monitoring servers
{% for server in ntp_monitor_servers %}
restrict {{server}} nomodify notrap nopeer
{% endfor %}

{% endif %}
# allow local users to query our status
restrict 127.0.0.0 mask 255.0.0.0 noserve nomodify notrap
